{% extends 'base.html' %} {% block title %} X0管理系統-客戶資料 {% endblock%} {% block nav %}
<li><a class="dropdown-button" href="#!" data-activates="dropdown-customers">資料管理<i class="material-icons right">arrow_drop_down</i></a></li>
{% endblock%} {% block nav-mobile %}
<li><a class="dropdown-button" href="#!" data-activates="dropdown-mobile-customers">資料管理<i class="material-icons right">arrow_drop_down</i></a></li>
{% endblock%} {% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        {% load keyvalue %} {% load timestamp_to_date %}
        <div class="card-panel hoverable">

            <a href="/customers/add" class="tooltipped waves-effect waves-circle waves-light btn-floating secondary-content" data-position="right" data-delay="50" data-tooltip="新增客戶資料">
                <i class="material-icons">add</i>
            </a>

            <h5>客戶資料-列表</h5>

            <form id="queryForm" class="col s12" action="" method="get">
                <div class="row">
                    <div id="resetForm" class="input-field col s0">
                        <div class="waves-effect waves-circle">
                            <a href="javascript:;">清除</a>
                        </div>
                    </div>
                    <div class="input-field col s2">
                        <select id="query_type" name="query_type">
                            <option value="">請選擇</option>
                            <option value="clientName">客戶名稱</option>
                            <option value="clientAddress">客戶地址</option>
                            <option value="clientTel">客戶電話</option>
                        </select>
                        <label>搜尋條件</label>
                    </div>
                    <div class="input-field col s2">
                        <select id="client_type" name="client_type">
                            <option value="">請選擇</option>
                            {% for key, value in resp_data.clientType.items %}
                            <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <label>客戶類型</label>
                    </div>
                    <div class="input-field col s5">
                        <i class="material-icons prefix">query</i>
                        <input id="q" name="q" type="text">
                        <label for="search"><i class="material-icons">search</i></label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn-flat waves-effect waves-light" type="submit" name="action">
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                {% csrf_token %}
            </form>

            <table class="responsive-table highlight centered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>客戶名稱</th>
                        <th>客戶類型</th>
                        <th>客戶地址</th>
                        <th>客戶電話</th>
                        <th>建檔人員</th>
                        <th>建檔時間</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if customers %} {% for c in resp_data.customers %}
                    <tr id="{{ c.key }}">
                        <td> {{ forloop.counter }} </td>
                        <td> {{ c.clientName }} </td>
                        <td> {{ resp_data.clientType|get_value_by_key:c.type|default:"未知" }} </td>
                        <td> {{ c.clientAddress|default:"N/A" }} </td>
                        <td> {{ c.clientTel|default:"N/A" }} </td>
                        <td> {{ c.createOperatorAccount }} </td>
                        <td> {{ c.createTimeStamp|utc_to_loacltz|date:"Y-m-d H:i" }} </td>
                        <td>
                            <div class="waves-effect waves-teal waves-circle">
                                <a href="javascript:;" id="{{ c.key }}" class="modify tooltipped" data-position="right" data-delay="50" data-tooltip="修改此筆">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="waves-effect waves-red waves-circle">
                                <a href="javascript:;" id="{{ c.key }}" class="del tooltipped" data-position="right" data-delay="50" data-tooltip="刪除此筆">
                                    <i class="material-icons red-delete">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9">無資料</td>
                    </tr>
                </tbody>
                {% endfor %} {% else %}
                <td colspan="9">無資料</td>
                {% endif %}
            </table>

            <br>
            <div class="chip">符合搜尋條件的資料: {{ resp_data.customers_count }} 筆</div>

            <!-- pagination -->
            {% if resp_data.customers %} {{ resp_data.pager|safe }} {% endif %}
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>

</div>
{% endblock%} {% block javascript %}
<script src="/pub/js/jquery/plugin/jquery.cookie/jquery.cookie.min.js"></script>
<script>
    var _init = (function(form) {
        // 保留查詢選項
        $('#q').attr('value', '{{ q }}');

        $("#query_type option").filter(function() {
            return $(this).val() == '{{ query_type }}';
        }).prop('selected', true);

        $("#client_type option").filter(function() {
            return $(this).val() == '{{ client_type }}';
        }).prop('selected', true);
    })();

    // 查詢選項
    var _resetForm = (function(form) {
        $('#q').val('');
        $('#query_type').parent('div').find('ul li:first').click();
        $('#client_type').parent('div').find('ul li:first').click()
    });

    $(document).ready(function() {

        $('a[class^="del"]').click(function(event) {
            var _this = $(this);
            var id = $(this).attr('id');
            if (id != '') {
                id = id.split(', ')[1].split(')')[0];
            }

            var conf = confirm("Delete file ?");
            if (conf == true) {
                $.ajax({
                    url: '/customers/delete/' + id,
                    type: "DELETE",
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        //  _this.hide();
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                        }
                    },
                    error: function(error) {
                        alert(error.status + ': ' + error.statusText);
                        //  _this.show();
                    },
                    success: function(response) {
                        if (response.result == 1) {
                            _this.parent().parent().parent('tr').fadeOut(500);
                        }
                        console.log(response.result);
                    }
                });
            }
        });

        $('a[class^="modify"]').each(function() {
            var id = $(this).attr('id');
            id = id.split(', ')[1].split(')')[0];
            $(this).attr('href', '/customers/modify/' + id);
        });

        $('#resetForm').click(function(event) {
            _resetForm();
        });

    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

</script>
{% endblock %}
