<!DOCTYPE HTML>
<html style="height: 100%">
<head>
 <title>Clone of Excuses For Lazy Coders</title>
</head>
<body style="height: 100%">
 <div class="wrapper" style="min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -8em;">
  <center style="color: #333; padding-top: 200px; font-family: Courier; font-size: 20px; font-weight: bold;">
      <div>
          {{ excuse }}
      </div>
      <br/>
      <form action="" method="post">
          {% csrf_token %}
          <div>客戶名稱: <input type="text" name="clientName" value=""></div>
          <div>客戶類型: <input type="text" name="type" value=""></div>
          <div>客戶地址: <input type="text" name="clientAddress" value=""></div>
          <div>客戶電話: <input type="text" name="clientTel" value=""></div>
          <button type="submit" name="button">送出</button>
      </form>

      <table>
          <tr>
              <th>客戶名稱</th>
              <th>客戶類型</th>
              <th>客戶地址</th>
              <th>客戶電話</th>
              <th>建檔人員</th>
              <th>建檔時間</th>
          </tr>
          {% for c in customers %}
              <tr>
                  <td><a href="javascript:;" id="{{ c.key }}">刪除</a></td>
                  <td> {{ c.clientName }} </td>
                  <td> {{ c.type }} </td>
                  <td> {{ c.clientAddress }} </td>
                  <td> {{ c.clientTel }} </td>
                  <td> {{ c.createOperatorAccount }} </td>
                  <td> {{ c.createDateTime }} </td>
              </tr>
          {% endfor %}
      </table>

  </center>
  <div class="push"></div>
 </div>
 <div class="footer">
  <center style="color: #333; font-family: Courier; font-size: 11px;">
   <br /><br />&copy; Copyleft
  </center>
 </div>

 </body>
</html>
